<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/viu_version_dev.js"></script>
    <title>Vue - App016(Filters)</title>
    <style>
        html,
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: #E67E22;
            height: 100vh;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #root,
        #card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }


        #card {
            align-items: stretch;
            background: #fff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
            padding: 25px;
            margin-bottom: 20px;
            border-radius: 4px;
            width: 90%;
        }

        #inputs {
            text-align: center;
            margin: 5px;
        }

        #selects {
            margin-bottom: 20px;
        }

        input {
            height: 25.5px;
            width: 50%;
        }

        button {
            height: 32px;
        }

        select {
            height: 30px;
            width: 49%;
        }

        button#editar,
        button#eliminar {
            display: none;
        }

        #resolucao {
            height: 350px;
            background: #ECF0F1;
            overflow-y: scroll;
            display: flex;
            text-align: center;
            flex-direction: column;
        }

        #resolucao #paragrafo {
            padding: 10px;
        }

        #footer a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- 
        Criar uma página que transforma nome em Maisculas, 
        tranforma tudo que recebe em silga acronimo, 
        e mostre a quantiade de caracteres, 
        quantidade vogais e consoate e faça a divisão silabica.
     -->
    <div id="root">
        <div id="card">
            <div id="inputs">
                <input maxlength="23" placeholder="Insira um texto" v-model="texto">
                <button @click="adicionarTextoNoVector" id="salvar">Salvar</button>
                <button @click="editarTextoNoVector" id="editar">Editar</button>
                <button @click="removerTextoNoVector" id="eliminar">Eliminar</button>
            </div>

            <div id="selects">
                <select id="textos inputs" v-model="textoSelecionado" @change="activarBotoesEditarEliminar">
                    <option value="" disabled>Selecione um texto</option>
                    <option v-for="(item, index) in vectorDeTextos" :key="index">{{item}}</option>
                </select>

                <select id="textos questoes" v-model="textoQuestoes" @change="selecionarFuncao">
                    <option value="" disabled>Selecione uma acção</option>
                    <optgroup v-show="textoSelecionado != ''">
                        <option>Acrónimo</option>
                        <option>Divisão Silábica</option>
                        <option>Inicias Maiúsculas</option>
                        <option>Inicias Minúsculas</option>
                        <option>Maiúsculas</option>
                        <option>Minúsculas</option>
                        <option>Quantidade Caracteres</option>
                        <option>Quantidade Consoates</option>
                        <option>Quantidade Vogais</option>
                        <option>Sigla</option>
                    </optgroup>
                </select>
            </div>

            <div id="resolucao">

                <h3 v-if="textoQuestoes == ''">Resolução</h3>
                <h3 v-else>{{textoQuestoes}}</h3>
            </div>
        </div>

        <div id="footer">
            <a href="https://emanueljosecandido.github.io">Emanuel Cândido &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",

            data: {
                texto: '',
                vectorDeTextos: JSON.parse(localStorage.getItem('textoList')) || [],
                textoSelecionado: '',
                id: '',
                textoQuestoes: '',
            },

            methods: {
                /* Funções do CRUD */
                adicionarTextoNoVector: function () {
                    if (root.validarInput()) {
                        this.vectorDeTextos.push(this.texto);
                        root.salvarNoLocalStorage();
                        root.limparTexto();
                    }
                },

                editarTextoNoVector: function () {
                    this.vectorDeTextos[this.id] = this.texto;
                    root.salvarNoLocalStorage();
                    root.limparTexto();
                    root.activarBotaoSalvar();
                },

                removerTextoNoVector: function () {
                    if (confirm("Queres mesmo eliminar")) {
                        this.vectorDeTextos.splice(this.vectorDeTextos.indexOf(this.texto), 1);
                        root.salvarNoLocalStorage();
                        root.limparTexto();
                        root.activarBotaoSalvar();
                    }
                },

                validarInput: function () {
                    if (this.texto == '') {
                        alert('Insira um texto');
                        return false
                    } else {
                        return true;
                    }
                },

                activarBotaoSalvar: function () {
                    let botaoSalvar = document.getElementById('salvar');
                    let botaoEditar = document.getElementById('editar');
                    let botaoEliminar = document.getElementById('eliminar');

                    botaoSalvar.style.display = 'initial';
                    botaoEditar.style.display = 'none';
                    botaoEliminar.style.display = 'none';
                },

                activarBotoesEditarEliminar: function () {
                    let botaoSalvar = document.getElementById('salvar');
                    let botaoEditar = document.getElementById('editar');
                    let botaoEliminar = document.getElementById('eliminar');

                    botaoSalvar.style.display = 'none';
                    botaoEditar.style.display = 'initial';
                    botaoEliminar.style.display = 'initial';

                    this.texto = this.textoSelecionado;
                    this.id = this.vectorDeTextos.indexOf(this.textoSelecionado);
                },

                limparTexto: function () {
                    this.texto = '';
                },

                salvarNoLocalStorage: function () {
                    localStorage.setItem('textoList', JSON.stringify(this.vectorDeTextos));
                },
                /* Funções do CRUD */


                /* Funções do Select */
                selecionarFuncao: function () {
                    switch (this.textoQuestoes) {
                        case 'Acrónimo': root.funcao(); break;
                        case 'Divisão Silábica': root.funcao(); break;
                        case 'Inicias Maiúsculas': root.iniciaisMaiusculas(); break;
                        case 'Inicias Minúsculas': root.funcao(); break;
                        case 'Maiúsculas': root.maiusculas(); break;
                        case 'Minúsculas': root.minusculas(); break;
                        case 'Quantidade Caracteres': root.funcao(); break;
                        case 'Quantidade Consoates': root.funcao(); break;
                        case 'Quantidade Vogais': root.funcao(); break;
                        case 'Sigla': root.funcao(); break;
                        default: root.funcao(); break;
                    }
                },

                iniciaisMaiusculas: function () {
                    root.verificarElemento();
                    let resolucao = document.getElementById('resolucao');
                    let paragrafo = document.createElement('p');
                    let array = [];
                    let iniciaisMaiusculas = '';

                    var c = -1;
                    for (let i = 0; i < this.textoSelecionado.length; i++) {
                        if (i == 0) {
                            array.push(this.textoSelecionado.charAt(i).toUpperCase());
                        } else {
                            array.push(this.textoSelecionado.charAt(i));
                        }

                        if (this.textoSelecionado.charAt(i) != ' ' && this.textoSelecionado.charAt(c) == ' ') {

                            array[i] = this.textoSelecionado.charAt(i).toUpperCase();
                        }
                        iniciaisMaiusculas += array[i];
                        c++;
                    }

                    paragrafo.setAttribute('id', 'paragrafo');
                    paragrafo.innerText = iniciaisMaiusculas;
                    resolucao.appendChild(paragrafo);
                },

                maiusculas: function () {
                    root.verificarElemento();
                    let resolucao = document.getElementById('resolucao');
                    let maiuscula = this.textoSelecionado.toUpperCase();
                    let paragrafo = document.createElement('p');

                    paragrafo.setAttribute('id', 'paragrafo');
                    paragrafo.innerText = maiuscula;
                    resolucao.appendChild(paragrafo);
                },

                minusculas: function () {
                    root.verificarElemento();
                    let resolucao = document.getElementById('resolucao');
                    let minuscula = this.textoSelecionado.toLowerCase();
                    let paragrafo = document.createElement('p');

                    paragrafo.setAttribute('id', 'paragrafo');
                    paragrafo.innerText = minuscula;
                    resolucao.appendChild(paragrafo);
                },



                verificarElemento: function () {
                    let resolucao = document.getElementById('resolucao');
                    let elemento = document.getElementById('paragrafo');

                    if (elemento != null) {
                        resolucao.removeChild(elemento);
                    }
                }


                /* Funções do Select */
            },

            filters: {

            }
        });
    </script>
</body>

</html>