html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E67E22;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root,
#card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#card {
    align-items: stretch;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 280px;
}

#inputs {
    width: 100%;
    margin-bottom: 5px;
}

#selects {
    margin-bottom: 20px;
}

input {
    height: 25.5px;
    width: 74.9%;
}

button {
    height: 32px;
}

select {
    height: 30px;
    width: 100%;
}

#resolucao {
    height: 150px;
    width: 100%;
    background: #ECF0F1;
    overflow-y: scroll;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#resolucao h3 {
    margin-bottom: -10px;
}

#resolucao #paragrafo {
    padding: 5px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}