<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../Exercices/assets/viu_version_dev.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vuejs | Challenge #01</title>
</head>

<body>
    <div id="root">
        <div class="language">
            <span>
                {{labelLanguage}}:
            </span>

            <select v-model="selectLanguage" v-on:change="getLanguage()">
                <option v-for="language in languages">{{language}}</option>
            </select>
        </div>
        <h1>{{labelTitle}}</h1>
        <div class="container">
            <div class="client">
                <h2>{{labelClient}}</h2>
                <select v-model="produt">
                    <option value="" disabled>{{labelDefaultOption}}</option>
                    <option v-for="name in things">{{name}}&dollar;</option>
                </select>

                <button @click="addCar">&plus;</button>

                <div class="things">
                    <table>
                        <thead>
                            <th>{{labelProdut}}</th>
                            <th>{{labelPrice}}</th>
                            <th>{{labelQtd}}</th>
                        </thead>
                        <tbody v-for="(name, co) in produts" :key="co">
                            <td>{{names[co]}}</td>
                            <td><span>{{prices[co]}}</span></td>
                            <td><span class="qtd">{{qtd[co]}}</span></td>
                            <td><span class="times" @click="removeProduts(names[co], prices[co], qtd[co])">&times;</span></td>
                        </tbody>
                    </table>
                </div>

                <div class="footer-cliente">
                    <div class="up">
                        <span class="cashier">{{labelCashier}}: <b><a
                                    href="https://emanueljosecandido.github.io">{{cashier}}</a></b></span>
                    </div>

                    <div class="down">
                        <span class="total"> {{labelTotal}} <b>{{total}}</b> &dollar;</span>
                        <div class="buttons">
                            <button @click="buyThings">{{labelFinish}}</button>
                            <button @click="removeToCar">{{labelCancel}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adminstrator">
                <h2>{{labelAdministrator}}</h2>
                <div class="add">
                    <h3>{{labelAdd}}</h3>
                    <div class="inputs first">
                        <div>
                            <label for="">{{labelName}}:</label><br>
                            <input v-model="name" maxlength="10"><br>
                        </div>

                        <div>
                            <label for="">{{labelPrice}}:</label><br>
                            <input v-model="price" maxlength="5"><br>
                        </div>
                    </div>

                    <div class="inputs second">
                        <div>
                            <label for="">{{labelQtd}}:</label><br>
                            <input v-model="qtdThing" maxlength="2"><br>
                        </div>

                        <div>
                            <button @click="addThings">{{labelAdd}}</button>
                        </div>
                    </div>

                </div>

                <div class="list">
                    <h3>{{labelList}}</h3>
                    <div class="things">
                        <table>
                            <thead>
                                <th>{{labelProdut}}</th>
                                <th>{{labelPrice}}</th>
                                <th>{{labelQtd}}</th>
                            </thead>
                            <tbody v-for="(name, co) in things" :key="co">
                                <td>{{names[co]}}</td>
                                <td><span>{{prices[co]}}</span></td>
                                <td><span>{{qtdThings[co]}}</span></td>
                                <td><span class="times" @click="removeThings(co)">&times;</span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="https://emanueljosecandido.github.io">Emanuel Cândido &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                name: "Fuba",
                names: JSON.parse(localStorage.getItem('namesList')) || [],
                removed: "",
                price: 500,
                prices: JSON.parse(localStorage.getItem('pricesList')) || [],
                total: 0,
                tot: [],
                things: JSON.parse(localStorage.getItem('thingsList')) || [],
                produt: "",
                produts: [],
                cashier: "Emanuel Cândido",
                qtd: [],
                qtdThings: JSON.parse(localStorage.getItem('qtdThingsList')) || [],
                selectLanguage: 'EN',
                languages: [],
                copyQtdThings: [],
                qtdThing: 5,
                labelLanguage: '',
                labelTitle: '',
                labelClient: '',
                labelDefaultOption: '',
                labelProdut: '',
                labelPrice: '',
                labelQtd: '',
                labelName: '',
                labelList: '',
                labelAdministrator: '',
                labelAdd: '',
                labelCashier: '',
                labelTotal: '',
                labelFinish: '',
                labelCancel: '',
            },

            methods: {
                render: function () {
                    root.renderLanguage();
                    root.languageEnglish();
                    this.copyQtdThings = [...this.qtdThings];
                },

                addThings: function () {
                    if (!this.name && this.price) {
                        alert('Insert a name please');
                    }
                    else if (this.name && !this.price) {
                        alert('Insert a price please');
                    }
                    else if (!this.name && !this.price) {
                        alert('Insert a name and a price  please');
                    }
                    else {
                        let name = this.name + " - " + this.price;
                        let index = this.things.indexOf(name);

                        if (index == -1) {
                            this.things.push(name);
                            this.qtdThings.push(Number(this.qtdThing));
                            this.prices.push(this.price);
                            this.names.push(this.name);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToStorage();
                            root.clearInputAdministratorAdd();
                        }
                        else {
                            this.qtdThings[index] += Number(this.qtdThing);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToStorage();
                            root.clearInputAdministratorAdd();
                        }
                    }
                },

                clearInputAdministratorAdd: function () {
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 1;
                },

                removeThings: function (position) {
                    this.names.splice(position, 1);
                    this.prices.splice(position, 1);
                    this.things.splice(position, 1);
                    this.qtdThings.splice(position, 1);
                    root.saveToStorage();
                },

                removeToProduts: function (name, price, qty) {
                    let nameProdut = name + " - " + price + "$";
                    let index1 = this.produts.indexOf(nameProdut);
                    let index2 = this.tot.indexOf(price);

                    this.qtd[index1] = 1;
                    this.produts.splice(index1, 1);
                    this.tot.splice(index2, qty);
                    this.total -= (this.prices[index1] * qty);
                },

                addCar: function () {
                    //this.produt - resolver problema
                    if (this.produt) {
                        let position = this.produts.indexOf(this.produt);
                        let posQtd = this.things.indexOf(this.produt);

                        if (this.qtdThings[position] != 0) {
                            if (position != -1) {
                                this.qtd[position]++;
                                this.qtdThings[position]--;
                                this.show = true;
                                root.calculate();
                            } else {
                                this.qtdThings[posQtd]--;
                                this.produts.push(this.produt);
                                this.qtd.push(1);
                                root.calculate();
                            }
                        } else {
                            //this.things.splice(this.things.indexOf(this.removed), 1);
                            alert('empty');
                        }
                    } else {
                        alert('Select any thing');
                    }
                },

                calculate: function () {
                    var total = 0, empty = 0, position;
                    var aux = "";

                    for (let i = this.produt.length - 1; i > 0; i--) {
                        if (this.produt[i] == " ") {
                            empty++;
                            position = i;
                        }
                        if (empty == 1) break;
                    }

                    for (let i = position + 1; i < this.produt.length - 1; i++) {
                        aux += this.produt[i];
                    }

                    total = Number(aux);
                    this.tot.push(total);

                    this.total = this.tot.reduce(function (total, next) {
                        return total + next;
                    });
                },

                buyThings: function () {
                    this.total = 0;
                    this.tot = [];
                    this.produt = '';
                    this.produts = [];
                    this.copyQtdThings = [...this.qtdThings];
                    root.saveToStorage();
                },

                removeToCar: function () {
                    this.produts = [];
                    this.tot = [];
                    this.produt = '';
                    this.total = 0;
                    this.qtd = [];
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 0;
                    this.qtdThings = [...this.copyQtdThings];
                    root.saveToStorage();
                },

                saveToStorage: function () {
                    localStorage.setItem('namesList', JSON.stringify(this.names));
                    localStorage.setItem('pricesList', JSON.stringify(this.prices));
                    localStorage.setItem('thingsList', JSON.stringify(this.things));
                    localStorage.setItem('qtdThingsList', JSON.stringify(this.qtdThings));
                },

                renderLanguage: function () {
                    this.languages.push('AR');
                    this.languages.push('EN');
                    this.languages.push('FR');
                    this.languages.push('PT');
                    this.languages.push('RS');
                    this.languages.push('ZH');
                },

                getLanguage: function () {
                    switch (this.selectLanguage) {
                        case 'AR': root.languageArabic(); break;
                        case 'EN': root.languageEnglish(); break;
                        case 'FR': root.languageFrench(); break;
                        case 'PT': root.languagePortuguese(); break;
                        case 'RS': root.languageRussia(); break;
                        case 'ZH': root.languageChinese(); break;
                        default: break;
                    }
                },

                languageArabic: function () {
                    this.labelLanguage = 'لغة';
                    this.labelTitle = 'تسجيل النقدية';
                    this.labelClient = 'العميل';
                    this.labelDefaultOption = 'اختر المنتج';
                    this.labelProdut = 'المنتج';
                    this.labelPrice = 'السعر';
                    this.labelQtd = 'الكمية';
                    this.labelName = 'الاسم ';
                    this.labelList = 'قائمة المنتجات';
                    this.labelAdministrator = 'المسؤول';
                    this.labelAdd = 'إضافة';
                    this.labelCashier = 'مسئول الصراف';
                    this.labelTotal = 'المجموع';
                    this.labelFinish = 'شراء';
                    this.labelCancel = 'إلغاء';
                },

                languageFrench: function () {
                    this.labelLanguage = 'Langue';
                    this.labelTitle = 'Caisse Enregisreuse';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Choisissez un produit';
                    this.labelProdut = 'Produit';
                    this.labelPrice = 'Prix';
                    this.labelQtd = 'Mnt';
                    this.labelName = 'Nom';
                    this.labelList = 'Liste de Produits';
                    this.labelAdministrator = 'Administrateur';
                    this.labelAdd = 'Ajouter';
                    this.labelCashier = 'La Caissière';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Achat';
                    this.labelCancel = 'Annuller';
                },

                languageRussia: function () {
                    this.labelLanguage = 'Язык';
                    this.labelTitle = 'кассовый аппарат';
                    this.labelClient = 'Клиент';
                    this.labelDefaultOption = 'Выберите товар';
                    this.labelProdut = 'Продукт';
                    this.labelPrice = 'Цена';
                    this.labelQtd = 'Кол-во';
                    this.labelName = 'Имя';
                    this.labelList = 'Список продуктов';
                    this.labelAdministrator = 'Администратор';
                    this.labelAdd = 'Добавить';
                    this.labelCashier = 'Ответственный кассир';
                    this.labelTotal = 'Итого';
                    this.labelFinish = 'Купить';
                    this.labelCancel = 'Отмена';
                },

                languageChinese: function () {
                    this.labelLanguage = 'Yǔyán';
                    this.labelTitle = 'shōuyín jī';
                    this.labelClient = 'kèhù';
                    this.labelDefaultOption = 'xuǎnzé yīzhǒng chǎnpǐn';
                    this.labelProdut = 'chǎnpǐn';
                    this.labelPrice = 'jiàgé';
                    this.labelQtd = 'shùliàng';
                    this.labelName = 'míngchēng';
                    this.labelList = 'chǎnpǐn lièbiǎo';
                    this.labelAdministrator = 'guǎnlǐ yuán';
                    this.labelAdd = 'tiānjiā';
                    this.labelCashier = 'fùzé shōuyín yuán';
                    this.labelTotal = 'zǒngjì';
                    this.labelFinish = 'gòumǎi';
                    this.labelCancel = 'qǔxiāo';
                },
            
                languageEnglish: function () {
                    this.labelLanguage = 'Language';
                    this.labelTitle = 'Cash register';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Select any product';
                    this.labelProdut = 'Produt';
                    this.labelPrice = 'Price';
                    this.labelQtd = 'Qty';
                    this.labelName = 'Name';
                    this.labelList = 'List of Products';
                    this.labelAdministrator = 'Administrator';
                    this.labelAdd = 'Add';
                    this.labelCashier = 'Cashier';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Buy';
                    this.labelCancel = 'Cancel';
                },

                languagePortuguese: function () {
                    this.labelLanguage = 'Linguagem';
                    this.labelTitle = 'Caixa Registradora';
                    this.labelClient = 'Cliente';
                    this.labelDefaultOption = 'Escolha um produto';
                    this.labelProdut = 'Produto';
                    this.labelPrice = 'Preço';
                    this.labelQtd = 'Qtd';
                    this.labelName = 'Nome';
                    this.labelList = 'Lista de Produtos';
                    this.labelAdministrator = 'Administrador';
                    this.labelAdd = 'Adicionar';
                    this.labelCashier = 'Encarregado do caixa';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Comprar';
                    this.labelCancel = 'Cancelar';
                },

            },
        });

        root.render();
    </script>
</body>

</html>