<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../Exercices/assets/viu_version_dev.js"></script>
    <link rel="stylesheet" href="../../../../../fontawesome-all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <link rel="stylesheet" href="style.css">
    <title>Vuejs | Challenge #01</title>
</head>

<body>
    <div id="root">
        <div class="language">
            <span>
                {{labelLanguage}}:
            </span>

            <select v-model="selectLanguage" v-on:change="getLanguage()">
                <option v-for="language in languages">{{language}}</option>
            </select>
        </div>
        <h1>{{labelTitle}}</h1>
        <div class="container">
            <div class="client">
                <h2>{{labelClient}}</h2>
                <select v-model="produt">
                    <option value="" disabled>{{labelDefaultOption}}</option>
                    <option v-for="(name, co) in things" :key="co" v-show="qtdThings[co] != 0">{{name}}</option>
                </select>

                <button @click="addProductToCart" v><i class="fa fa-cart-plus"></i></button>

                <div class="things">
                    <table>
                        <thead>
                            <th>{{labelProdut}}</th>
                            <th>{{labelPrice}}</th>
                            <th>{{labelQtd}}</th>
                        </thead>
                        <tbody v-for="(name, co) in produts" :key="co" v-show="produts[co] != ''">
                            <td>{{namesCar[co]}}</td>
                            <td><span>{{pricesCar[co]}}</span></td>
                            <td><span class="qtd">{{qtd[co]}}</span></td>
                            <td><span class="times"
                                    @click="removeProductFromCart(namesCar[co], pricesCar[co], qtd[co], co)">&times;</span>
                            </td>
                        </tbody>
                    </table>
                </div>

                <div class="footer-cliente">
                    <div class="up">
                        <span class="cashier">{{labelCashier}}: <b><a
                                    href="https://emanueljosecandido.github.io">{{cashier}}</a></b></span>
                    </div>

                    <div class="down">
                        <span class="total"> {{labelTotal}} <b>{{total}}</b> &dollar;</span>
                        <div class="buttons">
                            <button @click="buyProducts"><i class="fa fa-coins"></i></button>
                            <button @click="cancelPurchase"><i class="fa fa-ban"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adminstrator">
                <h2>{{labelAdministrator}}</h2>
                <div class="add">
                    <h3>{{labelAdd}}</h3>
                    <div class="inputs first">
                        <div>
                            <label for="">{{labelName}}:</label><br>
                            <input v-model="name" maxlength="10"><br>
                        </div>

                        <div>
                            <label for="">{{labelPrice}}:</label><br>
                            <input v-model="price" maxlength="5"><br>
                        </div>
                    </div>

                    <div class="inputs second">
                        <div>
                            <label for="">{{labelQtd}}:</label><br>
                            <input v-model="qtdThing" maxlength="2"><br>
                        </div>

                        <div class="buttons">
                            <button @click="saveEditedProduct" id="btn_edit"><i class="fa fa-save"></i></button>
                            <button @click="addProduct" id="btn_add"><i class="fa fa-save"></i></button>
                            <button @click="clearAllAdministrativeAreaInputs"><i class="fa fa-trash"></i></button>
                            <button @click="cancelEditing" id="btn_cancel"><i class="fa fa-ban"></i></button>
                        </div>
                    </div>

                </div>

                <div class="list">
                    <h3>{{labelList}}</h3>
                    <div class="things">
                        <table>
                            <thead>
                                <th>{{labelProdut}}</th>
                                <th>{{labelPrice}}</th>
                                <th>{{labelQtd}}</th>
                            </thead>
                            <tbody v-for="(name, co) in things" :key="co">
                                <td>{{names[co]}}</td>
                                <td><span>{{prices[co]}}</span></td>
                                <td><span>{{qtdThings[co]}}</span></td>
                                <td><span class="ctdot"
                                        @click="editProduct(names[co], prices[co], qtdThings[co], co)"><i
                                            class="fa fa-edit"></i></span>
                                </td>
                                <td><span class="times" @click="removeProduct(co)">&times;</span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="https://emanueljosecandido.github.io">Emanuel Cândido &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                aux: '',
                name: "",
                names: JSON.parse(localStorage.getItem('namesList')) || [],
                namesCar: [],
                removed: "",
                price: 0,
                prices: JSON.parse(localStorage.getItem('pricesList')) || [],
                pricesCar: [],
                total: 0,
                tot: [],
                things: JSON.parse(localStorage.getItem('thingsList')) || [],
                produt: "",
                produts: [],
                cashier: "Emanuel Cândido",
                qtd: [],
                qtdThings: JSON.parse(localStorage.getItem('qtdThingsList')) || [],
                selectLanguage: 'EN',
                languages: [],
                copyQtdThings: [],
                qtdThing: 1,
                indexEdit: -1,
                btn_edit: document.getElementById('btn_edit'),
                btn_add: document.getElementById('btn_add'),
                btn_cancel: document.getElementById('btn_cancel'),
                labelLanguage: '',
                labelTitle: '',
                labelClient: '',
                labelDefaultOption: '',
                labelProdut: '',
                labelPrice: '',
                labelQtd: '',
                labelName: '',
                labelList: '',
                labelAdministrator: '',
                labelAdd: '',
                labelEdit: '',
                labelCashier: '',
                labelTotal: '',
                labelFinish: '',
                labelCancel: '',
                alertTextName: '',
                alertTextPrice: '',
                alertTextNamePrice: '',
                alertTextProdutAlready: '',
                alertTextQty: '',
                alertTextNameQty: '',
                alertTextPriceQty: '',
                alertTextPriceQty: '',
                labelAux: '',
            },

            methods: {
                render: function () {
                    root.renderLanguage();
                    root.languageEnglish();
                    this.copyQtdThings = [...this.qtdThings];
                },

                addProduct: function () {
                    if (this.name == "" && this.price != 0 && this.qtdThing != 0) {
                        alert(this.alertTextName);
                    }
                    else if (this.name != "" && this.price == 0 && this.qtdThing != 0) {
                        alert(this.alertTextPrice);
                    }
                    else if (this.name != "" && this.price != 0 && this.qtdThing == 0) {
                        alert(this.alertTextQty);
                    }
                    else if (this.name == "" && this.price == 0 && this.qtdThing != 0) {
                        alert(this.alertTextNamePrice);
                    }
                    else if (this.name == "" && this.price != 0 && this.qtdThing == 0) {
                        alert(this.alertTextNameQty);
                    }
                    else if (this.name != "" && this.price == 0 && this.qtdThing == 0) {
                        alert(this.alertTextPriceQty);
                    }
                    else if (this.name == "" && this.price == 0 && this.qtdThing == 0) {
                        alert(this.alertTextPriceQty);
                    }
                    else {
                        let name = this.name + " - " + this.price + "$";
                        let index = this.things.indexOf(name);

                        if (index == -1) {
                            this.things.push(name);
                            this.qtdThings.push(Number(this.qtdThing));
                            this.prices.push(Number(this.price));
                            this.names.push(this.name);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToLocalStorage();
                            root.clearAllAdministrativeAreaInputs();
                        }
                        else {
                            alert(this.alertTextProdutAlready);
                        }
                    }
                },

                clearAllAdministrativeAreaInputs: function () {
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 1;
                },

                clearAllCustomerItems: function () {
                    this.tot = [];
                    this.qtd = [];
                    this.produts = [];
                    this.namesCar = [];
                    this.pricesCar = [];
                    this.total = 0;
                    this.produt = '';
                },

                removeProduct: function (position) {
                    this.names.splice(position, 1);
                    this.prices.splice(position, 1);
                    this.things.splice(position, 1);
                    this.qtdThings.splice(position, 1);
                    this.copyQtdThings.splice(position, 1);
                    root.saveToLocalStorage();
                },

                removeProductFromCart: function (name, price, qty, index) {
                    let nameProdut = name + " - " + price + "$";
                    let i = this.things.indexOf(nameProdut);
                    let x = this.namesCar.indexOf(name);

                    this.qtd.splice(price, 1);
                    this.produts[index] = '';
                    this.namesCar.splice(price, 1);
                    this.pricesCar.splice(price, 1);

                    for (let v = 0; v < this.tot.length; v++) {
                        if (this.tot[v] == price) {
                            this.tot[v] = 0;
                            if (v == qty - 1) break;
                        }
                    }

                    this.total -= (price * qty);
                    this.qtdThings[i] += qty;
                },

                addProductToCart: function () {
                    if (this.produt) {
                        let position = this.produts.indexOf(this.produt);
                        let posQtd = this.things.indexOf(this.produt);

                        if (this.qtdThings[posQtd] != 0) {
                            if (position != -1) {
                                this.qtd[position]++
                                this.qtdThings[posQtd]--;
                                this.show = true;
                                if (this.qtdThings[posQtd] == 0) {
                                    root.calculate();
                                    this.produt = '';
                                }

                                root.calculate();
                            } else {
                                this.qtdThings[posQtd]--;
                                this.produts.push(this.produt);
                                this.qtd.push(1);
                                this.aux = 'Produts',

                                    this.namesCar.push(this.names[posQtd]);
                                this.pricesCar.push(this.prices[posQtd]);
                                root.calculate();
                            }
                        } else {
                            alert('empty');
                        }
                    } else {
                        alert(this.labelDefaultOption);
                    }
                },

                calculate: function () {
                    var total = 0, empty = 0, position;
                    var aux = "";

                    for (let i = this.produt.length - 1; i > 0; i--) {
                        if (this.produt[i] == " ") {
                            empty++;
                            position = i;
                        }
                        if (empty == 1) break;
                    }

                    for (let i = position + 1; i < this.produt.length - 1; i++) {
                        aux += this.produt[i];
                    }

                    total = Number(aux);
                    this.tot.push(total);

                    this.total = this.tot.reduce(function (total, next) {
                        return total + next;
                    });

                    this.tot.sort();
                },

                buyProducts: function () {
                    root.clearAllCustomerItems();
                    root.saveToLocalStorage();
                },

                editProduct: function (name, price, qty, index) {
                    btn_edit.style.display = 'initial';
                    btn_cancel.style.display = 'initial';
                    btn_add.style.display = 'none';

                    this.labelAux = this.labelAdd;
                    this.labelAdd = this.labelEdit;
                    this.name = name;
                    this.price = price;
                    this.qtdThing = qty;
                    this.indexEdit = index;
                },

                saveEditedProduct: function () {
                    this.names[this.indexEdit] = this.name;
                    this.prices[this.indexEdit] = Number(this.price);
                    this.qtdThings[this.indexEdit] = Number(this.qtdThing);
                    this.things[this.indexEdit] = this.name + " - " + this.price + "$";
                    this.copyQtdThings = [...this.qtdThings];
                    root.cancelEditing();
                    root.saveToLocalStorage();
                },

                cancelEditing: function () {
                    btn_edit.style.display = 'none';
                    btn_cancel.style.display = 'none';
                    btn_add.style.display = 'initial';
                    this.labelAdd = this.labelAux;
                    root.clearAllAdministrativeAreaInputs();
                },

                cancelPurchase: function () {
                    root.clearAllCustomerItems();
                    this.qtdThings = [...this.copyQtdThings];
                    root.saveToLocalStorage();
                },

                saveToLocalStorage: function () {
                    localStorage.setItem('namesList', JSON.stringify(this.names));
                    localStorage.setItem('pricesList', JSON.stringify(this.prices));
                    localStorage.setItem('thingsList', JSON.stringify(this.things));
                    localStorage.setItem('qtdThingsList', JSON.stringify(this.qtdThings));
                },

                renderLanguage: function () {
                    this.languages.push('AR');
                    this.languages.push('EN');
                    this.languages.push('FR');
                    this.languages.push('PT');
                    this.languages.push('RS');
                    this.languages.push('ZH');
                },

                getLanguage: function () {
                    switch (this.selectLanguage) {
                        case 'AR': root.languageArabic(); break;
                        case 'EN': root.languageEnglish(); break;
                        case 'FR': root.languageFrench(); break;
                        case 'PT': root.languagePortuguese(); break;
                        case 'RS': root.languageRussia(); break;
                        case 'ZH': root.languageChinese(); break;
                        default: break;
                    }
                },

                languageArabic: function () {
                    this.labelLanguage = 'لغة';
                    this.labelTitle = 'تسجيل النقدية';
                    this.labelClient = 'العميل';
                    this.labelDefaultOption = 'اختر المنتج';
                    this.labelProdut = 'المنتج';
                    this.labelPrice = 'السعر';
                    this.labelQtd = 'الك';
                    this.labelName = 'الاسم ';
                    this.labelList = 'قائمة المنتجات';
                    this.labelAdministrator = 'المسؤول';
                    this.labelAdd = 'إضافة';
                    this.labelEdit = 'تحرير';
                    this.labelCashier = 'مسئول الصراف';
                    this.labelTotal = 'المجموع';
                    this.alertTextName = 'الرجاء إدخال الاسم';
                    this.alertTextPrice = 'الرجاء إدخال السعر';
                    this.alertTextNamePrice = 'الرجاء إدخال الاسم والسعر';
                    this.alertTextProdutAlready = 'تم إدخال هذا المنتج بالفعل';
                },

                languageFrench: function () {
                    this.labelLanguage = 'Langue';
                    this.labelTitle = 'Caisse Enregisreuse';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Choisissez un produit';
                    this.labelProdut = 'Produit';
                    this.labelPrice = 'Prix';
                    this.labelQtd = 'Mnt';
                    this.labelName = 'Nom';
                    this.labelList = 'Liste de Produits';
                    this.labelAdministrator = 'Administrateur';
                    this.labelAdd = 'Ajouter';
                    this.labelEdit = 'Modifier';
                    this.labelCashier = 'La Caissière';
                    this.labelTotal = 'Total';
                    this.alertTextName = 'Veuillez saisir un nom';
                    this.alertTextPrice = 'Veuillez insérer un prix';
                    this.alertTextNamePrice = 'Veuillez saisir un nom et un prix';
                    this.alertTextProdutAlready = 'Ce produit a déjà été inséré';
                },

                languageRussia: function () {
                    this.labelLanguage = 'Язык';
                    this.labelTitle = 'кассовый аппарат';
                    this.labelClient = 'Клиент';
                    this.labelDefaultOption = 'Выберите товар';
                    this.labelProdut = 'Продукт';
                    this.labelPrice = 'Цена';
                    this.labelQtd = 'Кол';
                    this.labelName = 'Имя';
                    this.labelList = 'Список продуктов';
                    this.labelAdministrator = 'Администратор';
                    this.labelAdd = 'Добавить';
                    this.labelEdit = 'Редактировать';
                    this.labelCashier = 'Ответственный кассир';
                    this.labelTotal = 'Итого';
                    this.labelFinish = 'Купить';
                    this.labelCancel = 'Отмена';
                    this.alertTextName = 'Пожалуйста, введите имя';
                    this.alertTextPrice = 'Пожалуйста, введите цену';
                    this.alertTextNamePrice = 'Пожалуйста, введите имя и цену';
                    this.alertTextProdutAlready = 'Этот продукт уже был добавлен';
                },

                languageChinese: function () {
                    this.labelLanguage = 'Yǔyán';
                    this.labelTitle = 'shōuyín jī';
                    this.labelClient = 'kèhù';
                    this.labelDefaultOption = 'xuǎnzé yīzhǒng chǎnpǐn';
                    this.labelProdut = 'chǎnpǐn';
                    this.labelPrice = 'jiàgé';
                    this.labelQtd = 'shù';
                    this.labelName = 'míngchēng';
                    this.labelList = 'chǎnpǐn lièbiǎo';
                    this.labelAdministrator = 'guǎnlǐ yuán';
                    this.labelAdd = 'tiānjiā';
                    this.labelEdit = 'biānjí';
                    this.labelCashier = 'fùzé shōuyín yuán';
                    this.labelTotal = 'zǒngjì';
                    this.alertTextName = 'Qǐng shūrù míngchēng';
                    this.alertTextPrice = 'qǐng shūrù jiàgé';
                    this.alertTextNamePrice = 'qǐng shūrù míngchēng hé jiàgé';
                    this.alertTextProdutAlready = 'yǐ chārù cǐ chǎnpǐn';
                },

                languageEnglish: function () {
                    this.labelLanguage = 'Language';
                    this.labelTitle = 'Cash register';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Select any product';
                    this.labelProdut = 'Produt';
                    this.labelPrice = 'Price';
                    this.labelQtd = 'Qty';
                    this.labelName = 'Name';
                    this.labelList = 'List of Products';
                    this.labelAdministrator = 'Administrator';
                    this.labelAdd = 'Add';
                    this.labelEdit = 'Edit';
                    this.labelCashier = 'Cashier';
                    this.labelTotal = 'Total';
                    this.alertTextName = 'Please enter a name';
                    this.alertTextPrice = 'Please insert a price';
                    this.alertTextNamePrice = 'Please enter a name and price';
                    this.alertTextProdutAlready = 'This product has already been inserted';
                },

                languagePortuguese: function () {
                    this.labelLanguage = 'Linguagem';
                    this.labelTitle = 'Caixa Registradora';
                    this.labelClient = 'Cliente';
                    this.labelDefaultOption = 'Escolha um produto';
                    this.labelProdut = 'Produto';
                    this.labelPrice = 'Preço';
                    this.labelQtd = 'Qtd';
                    this.labelName = 'Nome';
                    this.labelList = 'Lista de Produtos';
                    this.labelAdministrator = 'Administrador';
                    this.labelAdd = 'Adicionar';
                    this.labelEdit = 'Editar';
                    this.labelCashier = 'Encarregado do caixa';
                    this.labelTotal = 'Total';
                    this.alertTextName = 'Insira um nome porfavor';
                    this.alertTextPrice = 'Insira um preço porfavor';
                    this.alertTextNamePrice = 'Insira um nome e um preço porfavor';
                    this.alertTextProdutAlready = 'Este produto já foi inserido';
                },

            },
        });

        root.render();
    </script>
</body>

</html>