* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: wheat;
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.language span{
    margin-top: 2.5px;
}

.language select {
    margin-bottom: 10px;
    padding: 2px 0px;
    border-radius: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.client,
.adminstrator {
    background: #323234;
    width: 250px;
    height: 550px;
    color: wheat;
    margin: 30px 10px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.add {
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    height: 35%;
}


.add .inputs {
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
}

.add .inputs div {
    margin: 5px;
}

.list {
    height: 75%;
}

input {
    margin-bottom: 10px;
    padding: 8px 5px;
    border-radius: 7px;
}


.inputs.first input {
    width: 90%;
}

.inputs.second {
    width: 100%;
}

.inputs.second input {
    width: 95%;
}


.inputs.second button {
    margin-top: 16.6px;
    margin-right: 70px;
    width: 90%;
}

select {
    padding: 8px 0px;
    border-radius: 7px;
}

.things {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    border-radius: 7px;
    background: wheat;
    color: #323234;
    width: 100%;
    height: 60%;
}

.things .car {
    display: flex;
    justify-content: center;
}

.things .car ol {
    padding-top: 20px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background: #323234;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 650ms ease-in-out;
}

button:hover {
    background: wheat;
    color: #323234;
    border: 1px solid #323234;
}

.footer-cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
}


.footer-cliente .down {
    margin-top: 10px;
}

.footer-cliente .up {
    font-size: 8pt;
}

span.qtd,
span.times {
    background: #323234;
    color: wheat;
    border-radius: 50%;
    padding: 2px 6px;
    font-weight: bolder;
    text-align: center;
    transition: all 650ms ease-in-out;
}

span.times:hover {
    border: 1px solid #323234;
    color: #323234;
    background: wheat;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: all 650ms ease-in-out;
}

.cashier a {
    color: wheat;
}

a:hover {
    margin-left: 2px;
}

.footer a {
    color: #323234;
}

table {
    margin: 10px;
    border: 1px solid #323234;
    border-radius: 7px;
    text-align: left;
}

th,
td {
    padding: 5px;
}


@media (min-width: 390px) {

    .language{
        justify-content: right;
        margin-right: 15px;
    }

    .language select{
        width: 5%;
    }

    .list {
        height: 66%;
    }

    select {
        width: 60%;
    }

    .client,
    .adminstrator {
        width: 300px;
        height: 500px;
    }
}