.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.client,
.adminstrator {
    background: #323234;
    width: 300px;
    height: 500px;
    color: wheat;
    margin: 30px 10px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.add{
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;
}

.add {
    margin-bottom: 20px;
}

.add .inputs{
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
}

.add .inputs div{
    margin: 5px;
    
}

.list{
    height: 65%;
}

input{
    margin-bottom: 10px;
    width: 120px;
    padding: 8px 5px;
    border-radius: 7px;
}

.addThings{
    margin-top: 16.5px;
    width: 120px;
}

select {
    padding: 8px 0px;
    border-radius: 7px;
}

.things {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    border-radius: 7px;
    background: wheat;
    color: #323234;
    width: 100%;
    height: 60%;
}

.things .car{
    display: flex;
    justify-content: center;
}
.things .car ol {
    padding-top: 20px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background: #323234;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 650ms ease-in-out;
}

button:hover {
    background: wheat;
    color: #323234;
    border: 1px solid #323234;
}

.footer-cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-cliente .down {
    margin-top: 10px;
}

.cashier {
    font-size: 8pt;
    margin-top: -30px;
    margin-left: -150px;
}

span.qtd, span.times{
    background: #323234;
    color: wheat;
    border-radius: 50%;
    padding: 2px 6px;
    font-weight: bolder;
    text-align: center;
    transition: all 650ms ease-in-out;
}

span.times:hover{
    border: 1px solid #323234;
    color: #323234;
    background: wheat;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: all 650ms ease-in-out;
}

.cashier a {
    color: wheat;
}

a:hover {
    margin-left: 2px;
}

.footer a {
    color: #323234;
}

table{
    margin: 10px;
    border: 1px solid #323234;
    border-radius: 7px;
    text-align: left;
}

th, td{
    padding: 5px;
}

