<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/viu_version_dev.js"></script>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="style.css">
    <title>Cash register</title>
</head>

<body>
    <div id="root">
        <span v-html="title"></span>
        <div class="container">
            <div class="client">
                <h2>Client</h2>
                <select v-model="produt">
                    <optgroup>
                        <option value="">Select any thing</option>
                        <option v-for="name in things">{{name}}</option>
                    </optgroup>
                </select>

                <button @click="addCar">Add to Car</button>

                <div class="things">
                    <div class="car">
                        <ol>
                            <li v-for="(produt, i) in produts" :key="i">{{produt}} <span class="qtd">{{qtd[i]}}</span>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="footer-cliente">
                    <div>
                        <span class="cashier">Cashier: <b><a
                                    href="https://emanueljosecandido.github.io">{{cashier}}</a></b></span>
                    </div>

                    <div class="down">
                        <span class="total"> Total <b>{{total}}</b> KZ</span>
                        <div class="buttons">
                            <button @click="" class="btn-concluded">Finish</button>
                            <button @click="removeToCar" class="btn-concluded">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adminstrator">
                <h2>Adminstrator</h2>
                <div class="add">
                    <h3>Add</h3>
                    <div class="inputs">
                        <label for="">Name:</label><br>
                        <input v-model="name" maxlength="15"><br>

                        <label for="">Price:</label><br>
                        <input v-model="price" maxlength="10"><br>

                        <button @click="addThings">Add</button>
                    </div>
                </div>

                <div class="remove">
                    <h3>Remove</h3>
                    <select name="" id="remove" v-model="removed">
                        <optgroup>
                            <option value="">Select any thing</option>
                            <option v-for="name in things">{{name}}</option>
                        </optgroup>
                    </select>

                    <button @click="removeThings">Remove</button>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="https://emanueljosecandido.github.io">Emanuel Cândido &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                name: "Milk",
                removed: "",
                price: 500,
                total: 0,
                tot: [],
                things: [],
                produt: "",
                produts: [],
                cashier: "Emanuel Cândido",
                qtd: [],
                title: '<h1>Cash register</h1>'

            },
            methods: {
                addThings: function () {
                    if (!this.name && this.price) {
                        alert('Insert a name please');
                    }
                    else if (this.name && !this.price) {
                        alert('Insert a price please');
                    }
                    else if (!this.name && !this.price) {
                        alert('Insert a name and a price  please');
                    }
                    else {
                        this.things.push(this.name + " - " + this.price + " Kz");
                        this.name = '';
                        this.price = 0;
                    }
                },

                removeThings: function () {
                    if (this.removed) {
                        this.things.splice(this.things.indexOf(this.removed), 1);
                    } else {
                        alert('Select any thing');
                    }
                },

                addCar: function () {
                    if (this.produt) {
                        let position = this.produts.indexOf(this.produt);
                        if (position != -1) {
                            this.qtd[position] += 1;
                            this.show = true;

                            root.calculate();
                        } else {
                            this.produts.push(this.produt);
                            this.qtd.push(1);

                            root.calculate();
                        }
                    } else {
                        alert('Select any thing');
                    }
                },

                calculate: function () {
                    var total = 0, empty = 0, position;
                    var aux = "";

                    for (let i = this.produt.length - 1; i > 0; i--) {
                        if (this.produt[i] == " ") {
                            empty++;
                            position = i;
                        }
                        if (empty == 2) break;
                    }

                    for (let i = position; i < this.produt.length - 3; i++) {
                        aux += this.produt[i];
                    }

                    total = Number(aux);
                    this.tot.push(total);

                    this.total = this.tot.reduce(function (total, next) {
                        return total + next;
                    });
                },

                removeToCar: function () {
                    this.produts = [];
                    this.tot = [];
                    this.produt = '';
                    this.total = 0;
                    this.qtd = 1;
                },
            }
        });
    </script>
</body>

</html>