<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/viu_version_dev.js"></script>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="style.css">
    <title>Cash register</title>
</head>

<body>
    <div id="root">
        <span v-html="title"></span>
        <div class="container">
            <div class="client">
                <h2>Client</h2>
                <select v-model="produt">
                    <optgroup>
                        <option value="">Select any thing</option>
                        <option v-for="name in things">{{name}}</option>
                    </optgroup>
                </select>

                <button @click="addCar">Car</button>

                <div class="things">
                    <table>
                        <thead>
                            <th>Produt</th>
                            <th>Price</th>
                            <th>Qtd</th>
                        </thead>
                        <tbody v-for="(name, co) in produts" :key="co">
                            <td>{{names[co]}}</td>
                            <td><span>{{prices[co]}} Kz</span></td>
                            <td><span class="qtd">{{qtd[co]}}</span></td>
                        </tbody>
                    </table>
                </div>

                <div class="footer-cliente">
                    <div>
                        <span class="cashier">Cashier: <b><a href="https://emanueljosecandido.github.io">{{cashier}}</a></b></span>
                    </div>

                    <div class="down">
                        <span class="total"> Total <b>{{total}}</b> KZ</span>
                        <div class="buttons">
                            <button @click="buyThings" class="btn-concluded">Finish</button>
                            <button @click="removeToCar" class="btn-concluded">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adminstrator">
                <h2>Administrator</h2>
                <div class="add">
                    <h3>Add</h3>
                    <div class="inputs">
                        <div>
                            <label for="">Name:</label><br>
                            <input v-model="name" maxlength="10"><br>
                        </div>

                        <div>
                            <label for="">Price:</label><br>
                            <input v-model="price" maxlength="5"><br>
                        </div>
                    </div>

                    <div class="inputs">
                        <div>
                            <label for="">Qtd:</label><br>
                            <input v-model="qtdThing" maxlength="2"><br>
                        </div>

                        <div>
                            <button @click="addThings" class="addThings">Add</button>
                        </div>
                    </div>

                </div>

                <div class="list">
                    <h3>List of Things</h3>
                    <div class="things">
                        <table>
                            <thead>
                                <th>Produt</th>
                                <th>Price</th>
                                <th>Qtd</th>
                            </thead>
                            <tbody v-for="(name, co) in things" :key="co">
                                <td>{{names[co]}}</td>
                                <td><span>{{prices[co]}}</span></td>
                                <td><span>{{qtdThings[co]}}</span></td>
                                <td><span class="times" @click="removeThings(co)">&times;</span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="https://emanueljosecandido.github.io">Emanuel Cândido &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                name: "Milk",
                names: JSON.parse(localStorage.getItem('namesList')) || [],
                removed: "",
                price: 500,
                prices: JSON.parse(localStorage.getItem('pricesList')) || [],
                total: 0,
                tot: [],
                things: JSON.parse(localStorage.getItem('thingsList')) || [],
                produt: "",
                produts: [],
                cashier: "Emanuel Cândido",
                qtd: [],
                qtdThings: JSON.parse(localStorage.getItem('qtdThingsList')) || [],
                copyQtdThings: [],
                qtdThing: 5,
                title: '<h1>Cash register</h1>',
            },
            methods: {
                addThings: function () {
                    if (!this.name && this.price) {
                        alert('Insert a name please');
                    }
                    else if (this.name && !this.price) {
                        alert('Insert a price please');
                    }
                    else if (!this.name && !this.price) {
                        alert('Insert a name and a price  please');
                    }
                    else {
                        let name = this.name + " - " + this.price + " Kz";
                        let index = this.things.indexOf(name);

                        if (index == -1) {
                            this.things.push(name);
                            this.qtdThings.push(Number(this.qtdThing));
                            this.prices.push(this.price);
                            this.names.push(this.name);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToStorage();
                            root.clearInputAdministratorAdd();
                        }
                        else {
                            this.qtdThings[index] += Number(this.qtdThing);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToStorage();
                            root.clearInputAdministratorAdd();
                        }
                    }
                },

                clearInputAdministratorAdd: function () {
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 1;
                },

                removeThings: function (position) {
                    this.things.splice(position, 1);
                    root.saveToStorage();
                },

                addCar: function () {
                    if (this.produt) {
                        let position = this.produts.indexOf(this.produt);
                        let posQtd = this.things.indexOf(this.produt);

                        if (this.qtdThings[position] != 0) {
                            if (position != -1) {
                                this.qtd[position]++;
                                this.qtdThings[position]--;
                                this.show = true;
                                root.calculate();
                            } else {
                                this.qtdThings[posQtd]--;
                                this.produts.push(this.produt);
                                this.qtd.push(1);
                                root.calculate();
                            }
                        } else {
                            //this.things.splice(this.things.indexOf(this.removed), 1);
                            alert('empty');
                        }
                    } else {
                        alert('Select any thing');
                    }
                },

                calculate: function () {
                    var total = 0, empty = 0, position;
                    var aux = "";

                    for (let i = this.produt.length - 1; i > 0; i--) {
                        if (this.produt[i] == " ") {
                            empty++;
                            position = i;
                        }
                        if (empty == 2) break;
                    }

                    for (let i = position; i < this.produt.length - 3; i++) {
                        aux += this.produt[i];
                    }

                    total = Number(aux);
                    this.tot.push(total);

                    this.total = this.tot.reduce(function (total, next) {
                        return total + next;
                    });
                },

                buyThings: function () {
                    this.total = 0;
                    this.tot = [];
                    this.produts = [];
                    this.copyQtdThings = [...this.qtdThings];
                    root.saveToStorage();
                },

                removeToCar: function () {
                    this.produts = [];
                    this.tot = [];
                    this.produt = '';
                    this.total = 0;
                    this.qtd = [];
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 0;
                    this.qtdThings = [...this.copyQtdThings];
                    root.saveToStorage();
                },

                saveToStorage: function () {
                    localStorage.setItem('namesList', JSON.stringify(this.names));
                    localStorage.setItem('pricesList', JSON.stringify(this.prices));
                    localStorage.setItem('thingsList', JSON.stringify(this.things));
                    localStorage.setItem('qtdThingsList', JSON.stringify(this.qtdThings));
                }, 
            },
        });

        root.languageInglish();
    </script>
</body>

</html>