<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" :content="metaDescription">
    <meta name="keywords" :content="metaKeywords">
    <meta name="theme-color" content="#323234">
    <script src="../00_assets/viu_version_dev.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <link rel="stylesheet" href="style.css">
    <title>Vuejs | Challenge #01</title>
</head>

<body>
    <div id="root">
        <div class="language">
            <span>
                {{labelLanguage}}:
            </span>

            <select v-model="selectLanguage" v-on:change="getLanguage()">
                <option v-for="language in languages">{{language}}</option>
            </select>
        </div>
        <h1>{{labelTitle}}</h1>
        <div class="container">
            <div class="client">
                <h2>{{labelClient}}</h2>
                <select v-model="produt">
                    <option value="" disabled>{{labelDefaultOption}}</option>
                    <option v-for="(name, co) in things" :key="co" v-show="qtdThings[co] != 0">{{name}}</option>
                </select>

                <button @click="addProductToCart" :aria-label="labelAddToCart"><i class="fa fa-cart-plus"></i></button>

                <div class="things">
                    <table>
                        <thead>
                            <th>{{labelProdut}}</th>
                            <th>{{labelPrice}}</th>
                            <th>{{labelQtd}}</th>
                        </thead>
                        <tbody>
                            <tr v-for="(name, co) in produts" :key="co" v-show="produts[co] != ''">
                                <td :title="namesCar[co]">{{namesCar[co] | showProduts('name')}}</td>
                                <td :title="pricesCar[co]"><span>{{pricesCar[co] | showProduts('price')}}</span></td>
                                <td :title="qtd[co]"><span class="qtd">{{qtd[co] | showProduts('qtd')}}</span></td>
                                <td><span class="times"
                                        @click="removeProductFromCart(namesCar[co], pricesCar[co], qtd[co], co)">&times;</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="footer-cliente">
                    <div class="up">
                        <span class="cashier">{{labelCashier}}: <b>
                                <a href="https://emanueljosecandido.github.io" target="_blank"
                                    rel="noopener noreferrer">{{cashier}}</a></b></span>
                    </div>

                    <div class="down">
                        <span class="total"> {{labelTotal}} <b>{{total}}</b> &dollar;</span>
                        <div class="buttons">
                            <button @click="buyProducts" :aria-label="labelFinish"><i class="fa fa-coins"></i></button>
                            <button @click="cancelPurchase" :aria-label="labelCancel"><i class="fa fa-ban"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adminstrator">
                <h2>{{labelAdministrator}}</h2>
                <div class="add">
                    <h3>{{labelAdd}}</h3>
                    <div class="inputs first">
                        <div>
                            <label for="name">{{labelName}}:</label><br>
                            <input id="name" v-model="name" maxlength="10"><br>
                        </div>

                        <div>
                            <label for="price">{{labelPrice}}:</label><br>
                            <input id="price" v-model="price" maxlength="5" pattern="[0-9]+$"
                                @input="validatePrice($event)"><br>
                        </div>
                    </div>

                    <div class="inputs second">
                        <div>
                            <label for="qtdThing">{{labelQtd}}:</label><br>
                            <input id="qtdThing" v-model="qtdThing" maxlength="2" pattern="[0-9]+$"
                                @input="validateQty($event)"><br>
                        </div>

                        <div class="buttons">
                            <button @click="saveEditedProduct" id="btn_edit" :aria-label="labelSave"><i
                                    class="fa fa-save"></i></button>
                            <button @click="addProduct" id="btn_add" :aria-label="labelAdd"><i
                                    class="fa fa-save"></i></button>
                            <button @click="clearAllAdministrativeAreaInputs" :aria-label="labelClean"><i
                                    class="fa fa-trash"></i></button>
                            <button @click="cancelEditing" id="btn_cancel" :aria-label="labelCancel"><i
                                    class="fa fa-ban"></i></button>
                        </div>
                    </div>

                </div>

                <div class="list">
                    <h3>{{labelList}}</h3>
                    <div class="things">
                        <table>
                            <thead>
                                <th>{{labelProdut}}</th>
                                <th>{{labelPrice}}</th>
                                <th>{{labelQtd}}</th>
                            </thead>
                            <tbody>
                                <tr v-for="(name, co) in things" :key="co">
                                    <td :title="names[co]">{{names[co] | showProduts('name')}}</td>
                                    <td :title="prices[co]"><span>{{prices[co] | showProduts('price')}}</span></td>
                                    <td :title="qtdThings[co]"><span>{{qtdThings[co] | showProduts('qtd')}}</span></td>
                                    <td><span class="ctdot"
                                            @click="editProduct(names[co], prices[co], qtdThings[co], co)"><i
                                                class="fa fa-edit"></i></span>
                                    </td>
                                    <td><span class="times" @click="removeProduct(co)">&times;</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="https://emanueljosecandido.github.io" target="_blank" rel="noopener noreferrer">Emanuel Cândido
                &copy; 2020</a>
        </div>
    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                aux: '',
                regex: /^\d+$/,
                arrayPrice: [],
                arrayQty: [],
                name: "",
                names: JSON.parse(localStorage.getItem('namesList')) || [],
                namesCar: [],
                removed: "",
                price: 0,
                prices: JSON.parse(localStorage.getItem('pricesList')) || [],
                pricesCar: [],
                total: 0,
                tot: [],
                things: JSON.parse(localStorage.getItem('thingsList')) || [],
                produt: "",
                produts: [],
                cashier: "Emanuel Cândido",
                qtd: [],
                qtdThings: JSON.parse(localStorage.getItem('qtdThingsList')) || [],
                selectLanguage: 'EN',
                languages: [],
                copyQtdThings: [],
                copyQtdThings2: [],
                qtdThing: 1,
                indexEdit: -1,
                btn_edit: document.getElementById('btn_edit'),
                btn_add: document.getElementById('btn_add'),
                btn_cancel: document.getElementById('btn_cancel'),
                labelLanguage: '',
                labelTitle: '',
                labelClient: '',
                labelDefaultOption: '',
                labelProdut: '',
                labelPrice: '',
                labelQtd: '',
                labelName: '',
                labelList: '',
                labelAdministrator: '',
                labelAdd: '',
                labelEdit: '',
                labelCashier: '',
                labelTotal: '',
                labelFinish: '',
                labelCancel: '',
                labelSave: '',
                labelDrop: '',
                labelClean: '',
                labelAddToCart: '',
                metaDescription: '',
                metaKeywords: '',
                alertTextName: '',
                alertTextPrice: '',
                alertTextNamePrice: '',
                alertTextProdutAlready: '',
                alertTextQty: '',
                alertTextNameQty: '',
                alertTextPriceQty: '',
                alertTextNamePriceQty: '',
                labelAux: '',

            },

            filters: {
                showProduts: function (content, types) {
                    var type = typeof content;

                    if (type == "number") {
                        let length = content.toString().length;

                        if (types == "price" && length > 5) {
                            return content.toString().substr(0, 3) + "..";
                        } else if (types == "qtd" && length > 2) {
                            return content.toString().substr(0, 2) + "..";
                        } else {
                            return content;
                        }

                    }

                    if (type == "string" && types == "name" && content.length > 10) {
                        return content.substr(0, 6) + "..";
                    } else {
                        return content;
                    }
                },
            },

            methods: {
                render: function () {
                    root.renderLanguage();
                    root.languageEnglish();
                    this.copyQtdThings = [...this.qtdThings];
                },

                addProduct: function () {
                    if (root.validateInputs()) {
                        let name = this.name + " - " + this.price + "$";
                        let index = this.things.indexOf(name);

                        if (index == -1) {
                            this.things.push(name);
                            this.qtdThings.push(Number(this.qtdThing));
                            this.prices.push(Number(this.price));
                            this.names.push(this.name);
                            this.copyQtdThings = [...this.qtdThings];
                            root.saveToLocalStorage();
                            root.clearAllAdministrativeAreaInputs();
                        }
                        else {
                            alert(this.alertTextProdutAlready);
                        }
                    }
                },

                validateInputs: function () {
                    let validated = false;

                    if (this.name == "" && this.price != 0 && this.qtdThing != 0) {
                        alert(this.alertTextName);
                    }
                    else if (this.name != "" && this.price == 0 && this.qtdThing != 0) {
                        alert(this.alertTextPrice);
                    }
                    else if (this.name != "" && this.price != 0 && this.qtdThing == 0) {
                        alert(this.alertTextQty);
                    }
                    else if (this.name == "" && this.price == 0 && this.qtdThing != 0) {
                        alert(this.alertTextNamePrice);
                    }
                    else if (this.name == "" && this.price != 0 && this.qtdThing == 0) {
                        alert(this.alertTextNameQty);
                    }
                    else if (this.name != "" && this.price == 0 && this.qtdThing == 0) {
                        alert(this.alertTextPriceQty);
                    }
                    else if (this.name == "" && this.price == 0 && this.qtdThing == 0) {
                        alert(this.alertTextNamePriceQty);
                    }
                    else if (!(this.regex.test(this.price)) && !(this.regex.test(this.qtdThing))) {
                        alert(this.alertRegexPriceQty);
                    }
                    else if (!(this.regex.test(this.price))) {
                        alert(this.alertRegexPrice);
                    }
                    else if (!(this.regex.test(this.qtdThing))) {
                        alert(this.alertRegexQty);
                    }
                    else {
                        validated = true;
                    }

                    return validated;
                },

                validatePrice: function (event) {
                    let aux = '';
                    if (event.inputType == "deleteContentBackward") {
                        this.arrayPrice.splice(this.arrayPrice.length - 1);
                    } else {
                        this.arrayPrice.push(this.price[this.price.length - 1])

                        if (!this.regex.test(this.price)) {
                            this.arrayPrice.splice(this.arrayPrice.length - 1);

                            this.arrayPrice.forEach(element => {
                                aux += element;
                            });

                            this.price = aux;
                        }
                    }
                },

                validateQty: function (event) {
                    let aux = '';
                    if (event.inputType == "deleteContentBackward") {
                        this.arrayQty.splice(this.arrayQty.length - 1);
                    } else {
                        this.arrayQty.push(this.qtdThing[this.qtdThing.length - 1])

                        if (!this.regex.test(this.qtdThing)) {
                            this.arrayQty.splice(this.arrayQty.length - 1);

                            this.arrayQty.forEach(element => {
                                aux += element;
                            });

                            this.qtdThing = aux;
                        }
                    }
                },

                clearAllAdministrativeAreaInputs: function () {
                    this.name = '';
                    this.price = 0;
                    this.qtdThing = 1;
                },

                clearAllCustomerItems: function () {
                    this.tot = [];
                    this.qtd = [];
                    this.produts = [];
                    this.namesCar = [];
                    this.pricesCar = [];
                    this.total = 0;
                    this.produt = '';
                },

                removeProduct: function (position) {
                    this.names.splice(position, 1);
                    this.prices.splice(position, 1);
                    this.things.splice(position, 1);
                    this.qtdThings.splice(position, 1);
                    this.copyQtdThings.splice(position, 1);
                    root.saveToLocalStorage();
                },

                removeProductFromCart: function (name, price, qty, index) {
                    let nameProdut = name + " - " + price + "$";
                    let i = this.things.indexOf(nameProdut);
                    let x = this.namesCar.indexOf(name);

                    this.qtd.splice(price, 1);
                    this.produts[index] = '';
                    this.namesCar.splice(price, 1);
                    this.pricesCar.splice(price, 1);

                    for (let v = 0; v < this.tot.length; v++) {
                        if (this.tot[v] == price) {
                            this.tot[v] = 0;
                            if (v == qty - 1) break;
                        }
                    }

                    this.total -= (price * qty);
                    this.qtdThings[i] += qty;
                },

                addProductToCart: function () {
                    if (this.produt) {
                        let position = this.produts.indexOf(this.produt);
                        let posQtd = this.things.indexOf(this.produt);

                        if (this.qtdThings[posQtd] != 0) {
                            if (position != -1) {
                                this.qtd[position]++
                                this.qtdThings[posQtd]--;
                                this.show = true;

                                if (this.qtdThings[posQtd] == 0) {
                                    root.calculate();
                                    this.produt = '';
                                }

                                this.copyQtdThings2 = [...this.qtdThings];
                                root.calculate();
                            } else {
                                this.qtdThings[posQtd]--;
                                this.produts.push(this.produt);
                                this.qtd.push(1);
                                this.aux = 'Produts',
                                    this.namesCar.push(this.names[posQtd]);
                                this.pricesCar.push(this.prices[posQtd]);

                                this.copyQtdThings2 = [...this.qtdThings];
                                root.calculate();
                            }
                        } else {
                            alert('empty');
                        }
                    } else {
                        alert(this.labelDefaultOption);
                    }
                },

                calculate: function () {
                    var total = 0, empty = 0, position;
                    var aux = "";

                    for (let i = this.produt.length - 1; i > 0; i--) {
                        if (this.produt[i] == " ") {
                            empty++;
                            position = i;
                        }
                        if (empty == 1) break;
                    }

                    for (let i = position + 1; i < this.produt.length - 1; i++) {
                        aux += this.produt[i];
                    }

                    total = Number(aux);
                    this.tot.push(total);

                    this.total = this.tot.reduce(function (total, next) {
                        return total + next;
                    });

                    this.tot.sort();
                },

                buyProducts: function () {
                    root.clearAllCustomerItems();
                    this.qtdThings = [...this.copyQtdThings2];
                    this.copyQtdThings = [...this.copyQtdThings2];
                    root.saveToLocalStorage();
                },

                editProduct: function (name, price, qty, index) {
                    btn_edit.style.display = 'initial';
                    btn_cancel.style.display = 'initial';
                    btn_add.style.display = 'none';

                    this.labelAux = this.labelAdd;
                    this.labelAdd = this.labelEdit;
                    this.name = name;
                    this.price = price;
                    this.qtdThing = qty;
                    this.indexEdit = index;
                },

                saveEditedProduct: function () {
                    if (root.validateInputs()) {
                        this.names[this.indexEdit] = this.name;
                        this.prices[this.indexEdit] = Number(this.price);
                        this.qtdThings[this.indexEdit] = Number(this.qtdThing);
                        this.things[this.indexEdit] = this.name + " - " + this.price + "$";
                        this.copyQtdThings = [...this.qtdThings];
                        root.cancelEditing();
                        root.saveToLocalStorage();
                    }
                },

                cancelEditing: function () {
                    btn_edit.style.display = 'none';
                    btn_cancel.style.display = 'none';
                    btn_add.style.display = 'initial';
                    this.labelAdd = this.labelAux;
                    root.clearAllAdministrativeAreaInputs();
                },

                cancelPurchase: function () {
                    root.clearAllCustomerItems();
                    this.qtdThings = [...this.copyQtdThings];
                    root.saveToLocalStorage();
                },

                saveToLocalStorage: function () {
                    localStorage.setItem('namesList', JSON.stringify(this.names));
                    localStorage.setItem('pricesList', JSON.stringify(this.prices));
                    localStorage.setItem('thingsList', JSON.stringify(this.things));
                    localStorage.setItem('qtdThingsList', JSON.stringify(this.qtdThings));
                },

                renderLanguage: function () {
                    this.languages.push('AR');
                    this.languages.push('EN');
                    this.languages.push('FR');
                    this.languages.push('PT');
                    this.languages.push('RS');
                    this.languages.push('ZH');
                },

                getLanguage: function () {
                    switch (this.selectLanguage) {
                        case 'AR': root.languageArabic(); break;
                        case 'EN': root.languageEnglish(); break;
                        case 'FR': root.languageFrench(); break;
                        case 'PT': root.languagePortuguese(); break;
                        case 'RS': root.languageRussia(); break;
                        case 'ZH': root.languageChinese(); break;
                        default: break;
                    }
                },

                languageArabic: function () {
                    this.labelLanguage = 'لغة';
                    this.labelTitle = 'تسجيل النقدية';
                    this.labelClient = 'العميل';
                    this.labelDefaultOption = 'اختر المنتج';
                    this.labelProdut = 'المنتج';
                    this.labelPrice = 'السعر';
                    this.labelQtd = 'الك';
                    this.labelName = 'الاسم ';
                    this.labelList = 'قائمة المنتجات';
                    this.labelAdministrator = 'المسؤول';
                    this.labelAdd = 'إضافة';
                    this.labelEdit = 'تحرير';
                    this.labelCashier = 'مسئول الصراف';
                    this.labelTotal = 'المجموع';
                    this.labelFinish = 'عملية الشراء،';
                    this.labelCancel = 'إجهاض';
                    this.labelSave = 'للحفظ،';
                    this.labelDrop = 'للقضاء،';
                    this.labelClean = 'لينظف';
                    this.labelAddToCart = 'أضف إلى السلة';
                    this.metaDescription = 'السجل النقدي هو جهاز ميكانيكي أو إلكتروني يعمل على حساب وتسجيل معاملات المبيعات ، وله درج لتخزين النقود.';
                    this.metaKeywords = 'تسجيل النقدية ، Vue ، Vuejs ، التحديات.';
                    this.alertTextName = 'الرجاء إدخال الاسم';
                    this.alertTextPrice = 'الرجاء إدخال السعر';
                    this.alertTextNamePrice = 'الرجاء إدخال الاسم والسعر';
                    this.alertTextProdutAlready = 'تم إدخال هذا المنتج بالفعل';
                    this.alertTextQty = 'الرجاء إدخال كمية من فضلك';
                    this.alertTextNameQty = 'الرجاء إدخال اسم وكمية من فضلك';
                    this.alertTextPriceQty = 'أدخل السعر والكمية من فضلك';
                    this.alertTextNamePriceQty = 'أدخل الاسم والسعر والكمية من فضلك';
                    this.alertRegexPriceQty = 'يجب أن يكون السعر والكمية أعدادًا صحيحة';
                    this.alertRegexPrice = 'يجب أن يكون السعر عددًا صحيحًا';
                    this.alertRegexQty = 'يجب أن تكون الكمية عددًا صحيحًا';
                },

                languageFrench: function () {
                    this.labelLanguage = 'Langue';
                    this.labelTitle = 'Caisse Enregisreuse';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Choisissez un produit';
                    this.labelProdut = 'Produit';
                    this.labelPrice = 'Prix';
                    this.labelQtd = 'Mnt';
                    this.labelName = 'Nom';
                    this.labelList = 'Liste de Produits';
                    this.labelAdministrator = 'Administrateur';
                    this.labelAdd = 'Ajouter';
                    this.labelEdit = 'Modifier';
                    this.labelCashier = 'La Caissière';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Achat';
                    this.labelCancel = 'Avorter';
                    this.labelSave = 'Sauver';
                    this.labelDrop = 'Éliminer';
                    this.labelClean = 'Nettoyer';
                    this.labelAddToCart = 'Ajouter au panier';          
                    this.metaDescription = 'Une caisse enregistreuse est un appareil mécanique ou électronique qui sert à calculer et à enregistrer les transactions de vente, et possède un tiroir pour stocker de l\'argent.';
                    this.metaKeywords = 'Caisse enregistreuse, Vue, Vuejs, Défis';
                    this.alertTextName = 'Veuillez saisir un nom';
                    this.alertTextPrice = 'Veuillez insérer un prix';
                    this.alertTextNamePrice = 'Veuillez saisir un nom et un prix';
                    this.alertTextProdutAlready = 'Ce produit a déjà été inséré';
                    this.alertTextQty = "Veuillez saisir une quantité s'il vous plaît";
                    this.alertTextNameQty = "Veuillez entrer un nom et une quantité s'il vous plaît";
                    this.alertTextPriceQty = "Entrez un prix et une quantité s'il vous plaît";
                    this.alertTextNamePriceQty = "Entrez un nom, un prix et une quantité s'il vous plaît";
                    this.alertRegexPriceQty = 'Le prix et la quantité doivent être des nombres entiers';
                    this.alertRegexPrice = 'Le prix doit être un entier';
                    this.alertRegexQty = 'La quantité doit être un entier';
                },

                languageRussia: function () {
                    this.labelLanguage = 'Язык';
                    this.labelTitle = 'кассовый аппарат';
                    this.labelClient = 'Клиент';
                    this.labelDefaultOption = 'Выберите товар';
                    this.labelProdut = 'Продукт';
                    this.labelPrice = 'Цена';
                    this.labelQtd = 'Кол';
                    this.labelName = 'Имя';
                    this.labelList = 'Список продуктов';
                    this.labelAdministrator = 'Администратор';
                    this.labelAdd = 'Добавить';
                    this.labelEdit = 'Редактировать';
                    this.labelCashier = 'Ответственный кассир';
                    this.labelTotal = 'Итого';
                    this.labelFinish = 'Покупка';
                    this.labelCancel = 'Прервать';
                    this.labelSave = 'Сохранить';
                    this.labelDrop = 'Устранить';
                    this.labelClean = 'Чистить';
                    this.labelAddToCart = 'добавить в корзину';
                    this.metaDescription = 'Кассовый аппарат, Vue, Vuejs, вызовы';
                    this.metaKeywords = 'Кассовый аппарат - это механическое или электронное устройство, которое служит для расчета и записи транзакций продаж и имеет ящик для хранения наличных денег.';
                    this.alertTextName = 'Пожалуйста, введите имя';
                    this.alertTextPrice = 'Пожалуйста, введите цену';
                    this.alertTextNamePrice = 'Пожалуйста, введите имя и цену';
                    this.alertTextProdutAlready = 'Этот продукт уже был добавлен';
                    this.alertTextQty = 'Пожалуйста, введите количество, пожалуйста';
                    this.alertTextNameQty = 'Пожалуйста, введите имя и количество, пожалуйста';
                    this.alertTextPriceQty = 'Введите цену и количество, пожалуйста';
                    this.alertTextNamePriceQty = 'Введите имя, цену и количество, пожалуйста';
                    this.alertRegexPriceQty = 'Цена и количество должны быть целыми числами';
                    this.alertRegexPrice = 'Цена должна быть целым числом';
                    this.alertRegexQty = 'количество должно быть целым числом';
                },

                languageChinese: function () {
                    this.labelLanguage = 'Yǔyán';
                    this.labelTitle = 'shōuyín jī';
                    this.labelClient = 'kèhù';
                    this.labelDefaultOption = 'xuǎnzé yīzhǒng chǎnpǐn';
                    this.labelProdut = 'chǎnpǐn';
                    this.labelPrice = 'jiàgé';
                    this.labelQtd = 'shù';
                    this.labelName = 'míngchēng';
                    this.labelList = 'chǎnpǐn lièbiǎo';
                    this.labelAdministrator = 'guǎnlǐ yuán';
                    this.labelAdd = 'tiānjiā';
                    this.labelEdit = 'biānjí';
                    this.labelCashier = 'fùzé shōuyín yuán';
                    this.labelTotal = 'zǒngjì';
                    this.labelFinish = 'gòumǎi';
                    this.labelCancel = 'Zhōngzhǐ';
                    this.labelSave = 'wèile jiéshěng';
                    this.labelDrop = 'wèile xiāochú';
                    this.labelClean = 'Qīngjié';
                    this.labelAddToCart = 'tiānjiā dào gòuwù chē';
                    this.metaDescription = 'Shōuyín jī shì yīzhǒng jīxiè huò diànzǐ shèbèi, yòng yú jìsuàn hé jìlù xiāoshòu jiāoyì, bìng yǒu yīgè chōutì lái cúnfàng xiànjīn.';
                    this.metaKeywords = 'Shōuyín jī,Vue,Vuejs, tiǎozhàn';
                    this.alertTextName = 'Qǐng shūrù míngchēng';
                    this.alertTextPrice = 'qǐng shūrù jiàgé';
                    this.alertTextNamePrice = 'qǐng shūrù míngchēng hé jiàgé';
                    this.alertTextProdutAlready = 'yǐ chārù cǐ chǎnpǐn';
                    this.alertTextQty = 'Qǐng shūrù shùliàng';
                    this.alertTextNameQty = 'Qǐng shūrù míngchēng hé shùliàng';
                    this.alertTextPriceQty = 'Qǐng shūrù jiàgé hé shùliàng';
                    this.alertTextNamePriceQty = 'Qǐng shūrù míngchēng, jiàgé hé shùliàng';
                    this.alertRegexPriceQty = 'Jiàgé hé shùliàng bìxū wèi zhěngshù';
                    this.alertRegexPrice = 'jiàgé bìxū shì zhěngshù';
                    this.alertRegexQty = 'shùliàng bìxū wèi zhěngshù';
                },

                languageEnglish: function () {
                    this.labelLanguage = 'Language';
                    this.labelTitle = 'Cash register';
                    this.labelClient = 'Client';
                    this.labelDefaultOption = 'Select any product';
                    this.labelProdut = 'Produt';
                    this.labelPrice = 'Price';
                    this.labelQtd = 'Qty';
                    this.labelName = 'Name';
                    this.labelList = 'List of Products';
                    this.labelAdministrator = 'Administrator';
                    this.labelAdd = 'Add';
                    this.labelEdit = 'Edit';
                    this.labelCashier = 'Cashier';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Purchase';
                    this.labelCancel = 'Abort';
                    this.labelSave = 'Save';
                    this.labelDrop = 'Drop';
                    this.labelClean = 'Clean';
                    this.labelAddToCart = 'Add to car';
                    this.metaDescription = 'A cash register is a mechanical or electronic device that serves to calculate and record sales transactions, and has a drawer to store cash. ';
                    this.metaKeywords = 'Cash Register, Vue, Vuejs, Challenges';
                    this.alertTextName = 'Please enter a name';
                    this.alertTextPrice = 'Please insert a price';
                    this.alertTextNamePrice = 'Please enter a name and price';
                    this.alertTextProdutAlready = 'This product has already been inserted';
                    this.alertTextQty = 'Please enter a quantity';
                    this.alertTextNameQty = 'Please enter a name and quantity';
                    this.alertTextNamePriceQty = 'Please enter a price and quantity';
                    this.alertRegexPriceQty = 'The price and quantity must be whole numbers';
                    this.alertRegexPrice = 'The price must be an integer';
                    this.alertRegexQty = 'The quantity must be an integer';
                },

                languagePortuguese: function () {
                    this.labelLanguage = 'Linguagem';
                    this.labelTitle = 'Caixa Registradora';
                    this.labelClient = 'Cliente';
                    this.labelDefaultOption = 'Escolha um produto';
                    this.labelProdut = 'Produto';
                    this.labelPrice = 'Preço';
                    this.labelQtd = 'Qtd';
                    this.labelName = 'Nome';
                    this.labelList = 'Lista de Produtos';
                    this.labelAdministrator = 'Administrador';
                    this.labelAdd = 'Adicionar';
                    this.labelEdit = 'Editar';
                    this.labelCashier = 'Encarregado do caixa';
                    this.labelTotal = 'Total';
                    this.labelFinish = 'Comprar';
                    this.labelCancel = 'Cancelar';
                    this.labelSave = 'Salvar';
                    this.labelDrop = 'Eliminar';
                    this.labelClean = 'Limpar';
                    this.labelAddToCart = 'Adicionar no carrinho';
                    this.metaDescription = 'Uma caixa registradora é um dispositivo mecânico ou eletrônico que serve para calcular e registrar transações de venda, e possui uma gaveta para armazenar o dinheiro.';
                    this.metaKeywords = 'Caixa Registradora, Vue, Vuejs, Desafios';
                    this.alertTextName = 'Insira um nome porfavor';
                    this.alertTextPrice = 'Insira um preço porfavor';
                    this.alertTextNamePrice = 'Insira um nome e um preço porfavor';
                    this.alertTextProdutAlready = 'Este produto já foi inserido';
                    this.alertTextQty = 'Insira uma quantidade porfavor';
                    this.alertTextNameQty = 'Insira um nome e uma quantidade porfavor';
                    this.alertTextPriceQty = 'Insira um preço e uma quantidade porfavor';
                    this.alertTextNamePriceQty = 'Insira um nome, preço e uma quantidade porfavor';
                    this.alertRegexPriceQty = 'O preço e a quantidade devem ser números inteiros';
                    this.alertRegexPrice = 'O preço deve ser um número inteiro';
                    this.alertRegexQty = 'A quantidade deve ser um número inteiro';
                },

            },
        });

        root.render();
    </script>
</body>

</html>